DATABASE_URI=mongodb://127.0.0.1/your-database-name
SETLIST_FM_API_KEY=YOUR_SECRET_HERE
PAYLOAD_SECRET=YOUR_SECRET_HERE
NODE_ENV=production
SPOTIFY_CLIENT_ID=YOUR_SECRET_HERE
SPOTIFY_CLIENT_SECRET=YOUR_SECRET_HERE
SPOTIFY_USER_ID=SPOTIFY_USER_ID
LAST_FM_API_KEY=YOUR_SECRET_HERE
NEXT_PUBLIC_SITE_URL=http://localhost:3000
API_KEY=YOUR_SECRET_HERE
OPENAI_API_KEY=YOUR_SECRET_HERE
